@using Microsoft.AspNetCore.Identity
@using Fivesemtest.Models
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@inject UsersService UsersService

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        string userId = UserManager.GetUserId(User);
        bool isUser = await UsersService.IsUserIdExistsAsync(userId);
        bool isAdmin = User.IsInRole("admin");

    if (!isAdmin)
    {
        <li class="nav-item">
        
            @if (isUser)
            {
                <a id="manage" class="nav1-link text-dark" asp-page="/Users/LK" asp-route-id="@(await UsersService.GetUserIdByUserIdAsync(userId))" title="Manage">Личный кабинет <b>@UserManager.GetUserName(User)</b></a>
            }
        
            else if (User.IsInRole("User"))
            {
                <a id="manage" *@ class="nav1-link text-dark" asp-page="/Users/Create" asp-route-userid="@userId" title="Create"><b>Завершить регистрацию</b></a>
            }
        
        </li>
    }

    <li class="nav-item">
        <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/Index", new { area = "" })">
            <button id="logout" type="submit" class="nav1-link btn btn-link text-dark border-0">Выйти</button>
        </form>
    </li>
}

else
{
    <li class="nav-item"> <a class="nav1-link text-dark" id="login" asp-area="Identity" asp-page="/Account/Login">Войти</a></li>
}
@* 
        <li class="nav-item">
            <a id="manage" class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @UserManager.GetUserName(User)!</a>
        </li>
        <li class="nav-item">
            <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/Index", new { area = "" })">
                <button id="logout" type="submit" class="nav-link btn btn-link text-dark border-0">Logout</button>
            </form>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark" id="register" asp-area="Identity" asp-page="/Account/Register">Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" id="login" asp-area="Identity" asp-page="/Account/Login">Login</a>
        </li>
    } *@
</ul>
